@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: url("../public/img/top-background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

  background-color: #fafaff;
}

.subscribe-card {
  background-image: url("../public/img/subscribe-card-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #fafaff;
}
